@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro&display=swap')
$font-stack: "Open Sans", Arial, sans-serif
$font-stack-two: Arial, sans-serif
$white: #FFFFFF
$black: #000000

$primary: #1C1E24
$secondary: #9EA3B4
$highlight: #517AF4
$green: #32CD32


h1
    font-size: 80px
    color: $green
    font-weight: normal
h3
    font-size: 30px
    color: $green
    font-weight: normal
