@import url('https://fonts.googleapis.com/css?family=Open+Sans|Source+Code+Pro&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Comfortaa:wght@300;400&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&family=Euphoria+Script&display=swap')
$font-stack: 'Comfortaa', cursive
$font-stack-two: 'Comfortaa', cursive
$font-stack-three: 'Comic Neue', cursive
$white: #FFFFFF
$black: #00001F

$primary: #1C1E24
$secondary: #9EA3B4
$highlight: #C0C0C0
$green: #34beFF


h1
    font-size: 80px
    color: $green
    font-weight: normal
h3
    font-size: 30px
    color: $green
    font-weight: normal