---
layout: default
permalink: "sugarcoated"
---

<header class = "blog-index-header-main">
    {% include nav-blog.html %}
    <div class="blog-index-title">
    	<h1 class = "blog-head">Sugar Coated</h1>
    	<h2 class = "welcome-info"> Hello, I am Fenil. Welcome to my essay series. Here I write various tech and non-tech essays. My style of writing is very raw and not for the squeamish. </h2>	
    </div>
</div>
</header>


<div class = "blogIndexWrapper">
    {% for post in site.posts %}
        <div class = "blogPostContainer">
            <a href = "{{post.url}}" class = "blogTitle">{{post.title}}</a>
            <br></br>
            <a href = "" class= "blogCategory"> {{post.categories}}</a>
        </div>
    {% endfor %}
</div>