---
layout: default
---
<header class = "header-main">
    <div class="overlay-light"></div>
    {% include nav.html %}
    <div class="home-title">
    <h1>{{ site.title }}</h1>
    <h3>Engineer, Developer.</h3>
    </div>
    <a href="#blurb" class = "home-avatar"></a></div>
</header>
<!--About-->
<div class= "intro", id ="blurb">
	<p>Hi, I am Fenil Suchak. I am a pre-final year student at BITS Pilani K.K. Birla Goa Campus. I am double majoring in B.E.(Hons) Computer Science and Msc.(Hons.) Economics. I am looking for internship in the field of Software engineering and Data Science. I like to compete on Kaggle, I love open source, I use github as my learning resource. I love to read and write code.
	</br>
	</br>
	I have a blog on topics that excite me, like data science, education, healthcare, climate change, science, Software and engineering among others, you can checkout my blog <a href = "{{ site.baseurl }}/blog">here</a>.  Checkout my projects <a href = "{{ site.baseurl }}/projects">here</a> and and my cv <a href = "{{ site.baseurl }}/blog">here</a></p></div>br>.</p>
</div>

<div class= "history", id ="blurb">
	<h2>Chapter 1: I'm born</h2>
	<p> <mark class="year"> 2013 </mark> I first got into programming with web development. I started learning html, css and javascript at <a href = "code.org">code.org</a>.</p>
    <h2>Chapter 2: Education drama</h2>
    <p> <mark class="year"> 2014 </mark> Joined Sri Chaitanya Educational Institution to get into IIT a place where I probably could build computers. </p>
    <p> <mark class="year"> 2016 </mark> Joined BITS Pilani K.K. Birla Goa Campus admitted into Msc. Chesmistry program, wtf.</p>
    <p> <mark class="year"> 2017 </mark> Worked my ass off and got a 9.2 GPA in second semester and with a CGPA of 8.6 by first year transferred my degree to Masters Econoimcs along with a Bacheolers in Computer Science. I have written some on this <a href = "some.com"> here </a> </p>
    <h2>Chapter 3: Time to give back</h2>
    <p> <mark class="year"> Jan 2018 </mark> Joined CTE(Center For Technical Education), college club that has some real cool courses and conducts various tech evenets, and eventually headed the club.</p>
    <p> <mark class="year"> May 2018 </mark> Interned with Telangana-e-Goveranance at Hyderabad and pretty much learnt managaing a big event and some did really cool Python programming and Data Science for the summer. More on this here.</p>
    <p> <mark class="year"> Aug 2018 </mark> Taught a full semester course on Data Science to freshman students as a lead instructor at CTE for a class of 150 students. More on this here. </p>
    <p> <mark class="year">  Summer 2019 </mark> Yes, I applied for GSOC with MDAnalysis and did not get selected, have a look at my < a href = ""></a>proposal. But I finished the project anyway, check it out at <a href = "some.blog"> Cythonize! </a> </p>  
    <p> <mark class="year">  Summer 2019 </mark> The Melbourne Experience, The Game of Deep Learning, The Toxic Comments and my journey with RNN's.</p> 
</div>
{% include footer.html %}


