.blog-index-title
  position: absolute
  left: 0
  z-index: 5
  max-height: 210px
  max-width: 100%
  padding-left: 20px
  padding-top: 7vh
  max-width: 100%
  h1.blog-head
    font-family: $font-stack-two
    background: $black
    max-width: 100%
    max-height: 120px
    font-size: 5vh
    font-weight: 400
    line-height: 4vh
    padding-left: 10px
    padding-right: 10px
    color: $highlight
  h2.welcome-info
    font-size: 2.1vh
    font-weight: 500
    padding-left: 10px
    padding-right: 10px
    word-spacing: 0.4vh
    line-height: 2.5vh
    color: $green
    padding-top: 3vh
  @media screen and(max-width: 768px)
    top: 20%
    padding-top: 0vh

.blogIndexWrapper
  max-width: 70%
  margin: 4em 0 20px 0
  padding-left: 10px
  padding-right: 10px
  padding-top: 20vh
  flex-direction: column
  justify-content: space-around
  align-items: baseline
  flex-wrap: wrap
  @media screen and(max-width: 768px)
    max-width: 100%
    margin: 20em 0 20px 0
    padding-top: 1vh

.blogPostContainer
  display: block
  border: 1px solid $white
  border-radius: 50px
  max-width: 100%
  height: auto
  margin: 0 auto 40px auto
  color: $highlight

.blogTitle
  display: inline-block
  color: $highlight
  padding-bottom: 0px
  margin: 40px
  margin-bottom: 0px
  font-size: 3.5vh

.blogCategory
  position: relative
  display: inline-block
  margin: 40px
  margin-top: 0.1em