.post-index-title
  position: relative
  left: 0
  z-index: 5
  background: $black
  max-height: 210px
  max-width: 100%
  margin: 0 auto
  padding-right: 2vh
  padding-top: 60px
  max-width: 100%
  h1.post-head
    font-family: $font-stack-two
    background: $black
    max-width: 100%
    max-height: 120px
    font-size: 5vh
    font-weight: 450
    line-height: 1.2em
    color: $highlight
    margin: 30px 0vh

.blog-post-content-wrapper
  max-width: 2400px
  margin-bottom: 0  
  width: 100%
  background: $white
  quote
    position: relative
    font-family: $font-stack-four
    background: $white  
    color: $green2
    word-spacing: 0.2vh
    line-height: 5vh
    font-size: 2.25vh
    padding-left: 2vh
    padding-right: 2vh
    font-weight: 800
    @media screen and(max-width: 768px)
        font-size: 2vh
    auth
      padding-left: 2vh
      background: $white
      padding-left: 10vh
      padding-right: 10vh
      @media screen and(max-width: 768px)
        font-size: 2vh
  p
    background: $white
    position: relative
    padding-left: 2vh
    font-family: $font-stack-two
    color: $blacks
    margin-bottom: 0
    padding-bottom: 0
    word-spacing: 0.2vh
    line-height: 4vh
    font-size: 2.10vh
    padding-right: 2vh
    font-weight: 500
    a
      color: $green2
      font-weight: 500
      background: $white
      font-family: $font-stack-two
    strong
      background: $white
      color: $green2
    @media screen and(max-width: 768px)
      font-size: 1.8vh
      line-height: 3.5vh

  img
    display: block
    align: center
    margin: auto
    width: 40%
    overflow: hidden
    border-radius: 5px