.blog-post-content-wrapper
  padding: 30px 20px 0px 20px
  width: 100%
  max-width: 1800px
  background: $black
  p
    font-family: $font-stack-three
    color: $white
    word-spacing: 7px
    line-height: 1.8
    font-size: 1.6em

  img
    display: block
    align: center
    margin: auto
    width: 40%
    overflow: hidden
    border-radius: 5px

h5.readMore
    text-align: center
    font-family: $font-stack-two
    font-size: 1.6em
    color: $highlight